@charset "utf-8";
/* CSS Document */

/*初始化*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px"微软雅黑","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;min-width: 305px;color:#2f2f2f;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 

h2{
    font-size: 24px;
    line-height: 60px;
    font-weight: 800;
}
p{
    font-size: 16px;
}
/*头部导航*/
.nav-top{
    width: 100%;
    min-width: 305px;
    height: auto;
    background: #3c44a9;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.top-div{
    width: 100%;
    height: 64px;
}
.top-resume{
    color: #fff;
    font-size: 18px;
}
.resumes,.navs{
    padding: 20px 10px;
}
.navs ul{
    width: auto;
    height: 100%;
    padding:0;
    margin: 0; 
    float: right;
}
.navs ul li{
    margin: 0;
    padding: 0;
    float: left;
    color: #ccc;
    padding: 0 10px; 
    cursor: pointer;
}
.navs ul a li:hover{
    color: #fff;
}
.navs2{
    width: 65px;
    height: 25px;
    margin-bottom: 10px;
    display: block;
    position: relative;
}
.navs2 .nav-ul3-a{
    width: 100%;
    height: 100%;
    display: block
}
.navs2 .nav-ul3-a span{
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
    background: #ccc;
    display: block
}
.navs2 ul{
    width: auto;
    height: auto;
    padding: 5px;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 999;
    display: none;
}
.navs2 ul li{
    width: 150px;
    height: auto;
    border-bottom: 1px solid #5763c5;
    font-size: 16px;
    color: #fff;
    background: #397ee8;
    text-align: center;
    padding: 10px 0; 
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 2px;
}
/*头部内容*/
.masthead{
    width: 100%;
    height: 150px;
    background: #707acf;
    position: relative;
    z-index: 33;
}
.mashead2{
    width: 100%;
    height: 50px;
    transform-origin: left top; 
    background: linear-gradient(to bottom ,#707acf 70%,#5763c5);
    position: absolute;
    transform: skewY(-1.5deg);
    bottom: -49px;
    z-index: 1;
}
.masthead p{
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    margin-top: 30px;
}
.top-con{
    position: relative;
}

/*个人信息*/
.info{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}
.info .row div{
    font-size: 18px;
    line-height: 50px;
}
/*专业技能*/
.skill{
    width: 100%;
    height: auto;
    background: #707acf;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.skill ul{
    margin-bottom: 20px;
    margin-left: 30px;
}
.skill ul li{
    list-style: circle;
    font-size: 18px;
    line-height: 50px;
}
.progress{
    max-width: 500px;
    width: 90%;
}
/*作品展示*/
.teach{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.slide{
    box-shadow: 0 5px 5px #e0e0e0;
}
.teach p{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}
.teach-p{
    text-align: center;
    color: #707acf;
    margin-top: 10px;
}
.carousel-inner img{
    cursor: pointer;
}
.carousel-indicators li{
    background: #707acf;
}
.item img{
    width: 100%;
    height: 390px;
}
/*实习经历*/
.practice{
    width: 100%;
    height: auto;
    background: #f6f9fe;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pt_hr2{
    border-bottom: 1px dashed #c7c7c7;
}
.practice h3{
    font-size: 22px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.practice h4{
    font-size: 14px;
    line-height: 40px;
    color: #999;
    margin-top: 10px; 
    text-align: center;
}
.practice h4 span a{
    color: #707acf;
    text-decoration: underline;
}
.practice_text2{
    text-align: right;
}
.practice ul li{
    font-size: 16px;
    list-style: circle;
    margin-left: 30px;
    line-height: 35px;
}
.practice img{
    width: 100%;
    height: auto;
    box-shadow: 0 5px 5px #e0e0e0;
}
/*自我介绍*/
.introduce{
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.name-img{
    width: 250px;
    height: 350px;
    float: right;
}
.name-img img{
    width: 100%;
    height: auto;
}
.name-int{
    float: left;
    width: 70%;
    height: 60%;
}
.name-int p{
    line-height: 30px;
    font-size: 16px;
    text-indent:2em;
}
/*底部申明*/
.foot{
    width: 100%;
    height: auto;
    background: #577290;
    padding: 5px;
}
.foot a{
    font-size: 16px;
    color: #999;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
    transition: all 0.2s ease;
}
.foot a:hover{
    color: #ccc;
}
@media (max-width:992px) {
    .top-div{
        height: 44px;
    }
    .nav-top{
        padding-top: 10px;
    }
    .navs{
        padding: 0;
    }
    .navs ul{
        padding-bottom: 10px;
        float: left;
    }
    .name-img{
        width: 20%;
        height: auto;
        float: left;
    }
    .name-int{
        width: 75%;
        height: auto;
        float: right;
    }
    .name-int h2{
        font-size: 22px;
    }
    .name-int p{
        font-size: 14px;
    }
    .info h2{
        font-size: 22px;
    }
    .info .row div{
        font-size: 16px;
    }
    .skill h2{
        font-size: 22px;
    }
    .skill ul li{
        font-size: 14px;
    }
    .teach h2{
        font-size: 22px;
    }
    .teach p{
        font-size: 14px;
    }
    .practice h2{
        font-size: 22px;
    }
    .practice ul li{
        font-size: 14px;
    }
    .practice h3{
        font-size: 22px;
        margin-top: 20px; 
    }
    .practice h4{
        font-size: 14px;
    }
    .practice p{
        font-size: 14px;
        line-height: 30px;
    }
}
@media (max-width:768px) {
    .practice img{
        width: 80%;
        height: auto;
        margin-left: 10%;
    }

}
@media (max-width:708px) {
    .masthead{
        height: 100px;
    }
    .masthead p{
        font-size: 24px;
        line-height: 30px;
    }
    .masthead p span{
        font-size: 16px;
    }
    .name-int{
        width: 75%;
        height: auto;
        float: right;
        margin: 0;
        padding: 0;
    }
    .name-int h2{
        font-size: 20px;
    }
    .name-int p{
        font-size: 16px;
        line-height: 14px;
    }
    .info h2{
        font-size: 20px;
    }
    .info .row div{
        font-size: 14px;
        line-height: 30px;
    }
    .skill h2{
        font-size: 20px;
    }
    .skill ul li{
        font-size: 14px;
        line-height: 30px;
    }
    .teach h2{
        font-size: 20px;
    }
    .teach p{
        font-size: 14px;
        line-height: 30px;
    } 
    .practice h2{
        font-size: 20px;
    }
    .practice ul li{
        font-size: 14px;
    }
    .practice h3{
        font-size: 18px;
        margin-top: 20px; 
    }
    .practice h4{
        font-size: 14px;
        text-align: center;
    }
    .practice p{
        font-size: 14px;
        line-height: 30px;
    }
    .practice img{
        width: 90%;
        height: auto;
        margin-left: 5%;
    }
    .foot{
        border-top-left-radius: 30px;
    }
    .name-int h2{
        font-size: 20px;
    }
    .name-int p{
        font-size: 14px;
        line-height: 30px;
    }
}
@media (max-width:490px){
    .masthead{
        height: 70px;
    }
    .masthead p span{
        display: none;
    }
    .resumes{
        width: 100%;
        text-align: center;
    }
    .practice h4{
        font-size: 12px;
    }
    
}
@media (max-width:390px){
    .top-Email span{
        margin-right: 140px;
    }
    .name-img{
        display: none;
    }
     .name-int{
        width: 100%;
    }
}
